#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}
.cats {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  justify-content: center;
}
.cats .actions {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 3.5em);
  grid-column-gap: 0.5rem;
}

